<% include partials/header %>
<div class="list__header">
	<a href="/api/goals/<%=user._id%>/creategoals"
		><button class="list__header--add-new"><i class="fa fa-plus-circle"></i></button
	></a>
	<p><%= username %>'s Goals Dashboard</p>
	<a href="/api/goals/<%=user._id%>/goals">
		<button class="list__header--go-back"><i class="fa fa-angle-left"></i></button
	></a>
</div>

<div class="editgoal__container">
	<h2>Edit Goal</h2>
	<% goal.map(goal => { %>
	<form class="editgoals--form" id="goals__form" action="/api/goals/<%=goal.id%>/goals?_method=PUT" method="POST">
		<div class="editgoals__container--goal">
			<div class="editgoals__container--goal--header">
				<img src="<%= goal.image %>" alt="motivation" />
				<div class="editgoals__container--goal--header--overlay"></div>
				<% if(goal.completed) { %>
				<div class="editgoals__container--goal--header--incomplete">
					<form action="/api/goals/<%=goal.id%>/incomplete?_method=PUT" method="POST">
						<button class="incomplete-button"><i class="fa fa-check-circle"></i></button>
					</form>
				</div>
				<% } %> <% if(!goal.completed) { %>
				<div class="editgoals__container--goal--header--complete">
					<form action="/api/goals/<%=goal.id%>/complete?_method=PUT" method="POST">
						<button class="complete-button"><i class="fa fa-check-circle"></i></button>
					</form>
				</div>
				<% } %>

				<div class="editgoals__container--goal--header--title">
					<div class="editgoals__container--goal--header--title--row">
						<i class="fa fa-pencil"></i><input name="goals[title]" value="<%= goal.title %>" />
					</div>
					<% if(goal.completed) { %>
					<p class="complete">COMPLETED</p>
					<% } else{ %>
					<p>Complete By:<span><%= goal.endDate %></span></p>
					<% } %>
				</div>
			</div>
			<div class="editgoals__container--goal--steps">
				<% if(goal.steps) { %>
				<div class="editgoals__container--goal--steps--header">
					<p>Steps:</p>
					<button class="add-step-dash"><i class="fa fa-plus-circle add-step-dash"></i> Add Step</button>
				</div>
				<ul class="steps-ul">
					<% goal.steps.map((step,i) => { %>
					<li class="dashboard-step-row">
						<% if(step.completed) { %>
						<form action="/api/goals/<%=goal.id%>/<%=step.id%>/incompletestep?_method=PUT" method="POST">
							<button class="completed-step-btn"><i class="fa fa-check-circle "></i></button>
						</form>
						<% } else {%>
						<form action="/api/goals/<%=goal.id%>/<%=step.id%>/completestep?_method=PUT" method="POST">
							<button class="save-step-btn"><i class="fa fa-check-circle"></i></button>
						</form>
						<% } %>
						<p><%= step.title %></p>
						<form action="/api/goals/<%=goal.id%>/<%=step.id%>/removestep?_method=PUT" method="POST">
							<button class="remove-step-btn"><i class="fa fa-close "></i></button>
						</form>
					</li>
					<% }) %>
				</ul>
				<% } %> <% if(!goal.steps) { %>
				<div class="editgoals__container--goal--steps--header">
					<a href="/api/goals/<%=goal.id%>/editgoal">
						<button class="add-step-dash"><i class="fa fa-plus-circle"></i> Edit Goal</button></a
					>
				</div>
				<ul class="steps-ul hidden"></ul>
				<% } %>
			</div>
			<button class="submit-edit-button"><i class="fa fa-paper-plane-o"></i></button>
		</div>
	</form>
	<% }) %>
</div>
<% include partials/footer %>
