<% include partials/header %> <% if(error && error.length > 0){ %>
<div class="error"><%= error %></div>
<% } %> <% if(success && success.length > 0) { %>
<div class="success"><%= success %></div>
<% } %>
<h1 style="color:#666">
	<%= username %>
</h1>
 <% goals.forEach(goal => { %>
<h1 style="color:#666"><%= goal.title %></h1>
<h1 style="color:#666"><%= goal.startDate %></h1>
<h1 style="color:#666"><%= goal.endDate %></h1>
<p style="color:#666"><% goal.details.map(detail => detail)%></p>
<form action="/api/goals/<%=goal.id%>/remove?_method=PUT" method="POST">
	<button>Remove Goal</button>
</form>
<% }) %>

<a href="/api/goals/<%=user._id%>/creategoals"><button>Add a new goal</button></a>
<a href="/profile"> <button>Go Back to profile</button></a>
<% include partials/footer %>
