<% include partials/header %>

           <% if(error && error.length > 0){ %>
                <div class="error"><%= error %></div>
            <% } %>
            <% if(success && success.length > 0) { %>
                <div class="success"><%= success %></div>
            <% } %>
            
        <% if(noPosts == 0) { %>
            <h1 style="color:#666">No Posts just Yet!</h1>
            <% } %>
        <% days.forEach((day) => { %>
        
          <div class="post">
            <div class="post-img">
              <% if(day.mood == 5 ) {  %>   <i class="fa fa-smile-o green large"></i> <% } %>
              <% if(day.mood == 4 ) {  %>   <i class="fa fa-smile-o green large"></i> <% } %>
              <% if(day.mood == 3 ) {  %>   <i class="fa fa-smile-o green large"></i> <% } %>
              <% if(day.mood == 2 ) {  %>   <i class="fa fa-meh-o orange large"></i>  <% } %>
              <% if(day.mood == 1 ) {  %>   <i class="fa fa-frown-o orange large"></i>  <% } %>
              <% if(day.mood == 0 ) {  %>   <i class="fa fa-frown-o red large"></i>   <% } %>
            </div>
          <div class="post-description">
            <div class="post-header">
              <a href="/api/days/<%=day._id %>"><h3><%= day.author.username %>: <%= day.title %> </h3> </a>
              <h3><a href="/api/days/<%=day._id%>">Posted:<%= day.date %></a></h3>
            </div>
              <div class="line"></div>
                <% if(day.mood == 5 ) { %> <h3>Day Rating: <span class="day-rating green">Great!      </span></h3> <% } %>
                <% if(day.mood == 4 ) { %> <h3>Day Rating: <span class="day-rating green">Good        </span></h3> <% } %>
                <% if(day.mood == 3 ) { %> <h3>Day Rating: <span class="day-rating green">Pretty Good </span></h3> <% } %>
                <% if(day.mood == 2 ) { %> <h3>Day Rating: <span class="day-rating orange">Eh         </span></h3> <% } %>
                <% if(day.mood == 1 ) { %> <h3>Day Rating: <span class="day-rating orange">Not Great  </span></h3> <% } %>
                <% if(day.mood == 0 ) { %> <h3>Day Rating: <span class="day-rating red">Bad!          </span></h3> <% } %>
                <p><%= day.text.substring(0,70) %>...</p> 
              </div>
            </div>
        <% }); %>
        
      </div>
      <div class="pagination__box">
          <% if (pages && pages > 0) { %>
       <ul class="pagination">
           <% if (current == 1) { %>
           <li class="disabled"><a>First</a></li>
           <% } else { %>
           <li><a href="/api/days">First</a></li>
           <% } %>
    
           <% if (current == 1) { %>
           <li class="disabled"><a><i class="fas fa-arrow-circle-left"></i></a></li>
           <% } else { %>
           <li><a href="/api/days?page=<%= Number(current) - 1 %>"><i class="fas fa-arrow-circle-left"></i></a></li>
           <% } %>
    
           <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
           <% if (i !== 1) { %>
           <li class="disabled"><a>...</a></li>
           <% } %>
           <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
           <% if (i == current) { %>
           <li class="active"><a><%= i %></a></li>
           <% } else { %>
           <li><a href="/api/days?page=<%= i %>"><%= i %></a></li>
           <% } %>
           <% if (i == Number(current) + 4 && i < pages) { %>
           <li class="disabled"><a>...</a></li>
           <% } %>
           <% } %>
    
           <% if (current == pages) { %>
           <li class="disabled"><a><i class="fas fa-arrow-circle-right"></i></a></li>
           <% } else { %>
           <li><a href="/api/days?page=<%= Number(current) + 1 %>"><i class="fas fa-arrow-circle-right"></i></a></li>
           <% } %>
    
           <% if (current == pages) { %>
           <li class="disabled"><a>Last</a></li>
           <% } else { %>
           <li><a href="/api/days?page=<%= pages %>">Last</a></li>
           <% } %>
       </ul>
    <% } %>
    </div>
<% include partials/footer %>
  