<% include partials/header %>
<div class="list__header">
	<a href="/profile/<%=user._id%>/editprofile">
		<button class="list__header--edit"><i class="fa fa-edit"></i></button>
	</a>
	<p><%= username %>'s Profile</p>
	<a href="/profile">
		<button class="list__header--go-back"><i class="fa fa-angle-left"></i></button
	></a>
</div>
<div class="profile__container">
	<div class="profile__display">
		<div class="profile__display--left-column">
			<div class="profile__display--left-column--user-info">
				<div class="profile__display--left-column--user-info--avatar">
					<img src="<%=profile.avatar.url%>" alt="<%=profile.username%>'s " />
				</div>
				<div class="profile__display--left-column--user-info--name-display">
					<div class="profile__display--left-column--user-info--name-display--username">
						<h2>@<%=profile.username%></h2>
					</div>
					<div class="profile__display--left-column--user-info--name-display--email">
						<a href="mailto:<%=profile.email%>">
							<i class="fa fa-envelope"></i>
							<%=profile.email%></a
						>
					</div>
					<div class="profile__display--left-column--user-info--name-display--full-name">
						<h4><%=profile.firstname%></h4>
						<h4><%=profile.lastname%></h4>
					</div>
				</div>
			</div>

			<div class="profile__display--left-column--bio">
				<p><span>Bio:</span><%=profile.bio%></p>
			</div>
			<div class="profile__display--left-column--social">
				<ul>
					<li>
						<a href="<%=profile.social.facebook%>" target="_blank"
							><i class="fa fa-facebook-official"></i
						></a>
					</li>
					<li>
						<a href="<%=profile.social.twitter%>" target="_blank"><i class="fa fa-twitter-square"></i></a>
					</li>
					<li>
						<a href="<%=profile.social.instagram%>" target="_blank"><i class="fa fa-instagram"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="profile__display--right-column">
			<div class="profile__display--right-column--user-data">
				<h2>Posts:</h2>
				<% profile.posts.map(post => { %> <% if(post.title){ %>
				<div class="profile__display--right-column--user-data--bubble">
					<a href="/api/days/<%=post.id%>"
						><i class="fa fa-sticky-note"></i> <%=post.title.length > 20 ? post.title.substr(0,20)+ '...' :
						post.title %></a
					>
				</div>
				<% } %> <% }) %>
			</div>
			<div class="profile__display--right-column--user-data">
				<h2>To-Dos:</h2>
				<% profile.todos.map(todo => { %>
				<div class="profile__display--right-column--user-data--bubble">
					<a href="/api/todos/<%=user._id%>/todos"
						><i class="fa fa-list-alt"></i> <%=todo.title.length > 20 ? todo.title.substr(0,20)+ '...' :
						todo.title %></a
					>
				</div>
				<% }) %>
			</div>
			<div class="profile__display--right-column--user-data">
				<h2>Goals:</h2>
				<% profile.goals.map(goal => { %>
				<div class="profile__display--right-column--user-data--bubble">
					<a href="/api/goals/<%=user._id%>/goals"
						><i class="fa fa-futbol-o"></i><%=goal.title.length > 20 ? goal.title.substr(0,20)+ '...' :
						goal.title %></a
					>
				</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>
<% include partials/footer %>
