<% include partials/header %>

<div class="profile__container">
	<div class="profile__display">
		<div class="profile__display--left-column">
			<div class="profile__display--left-column--user-info">
				<div class="profile__display--left-column--user-info--avatar">
					<img src="<%=profile.avatar.url%>" alt="<%=profile.username%>'s " />
				</div>
			</div>
			<div class="profile__display--left-column--name-display">
				<div class="profile__display--left-column--name-display--username">
					<h2>@<%=profile.username%></h2>
				</div>
				<div class="profile__display--left-column--name-display--full-name">
					<h4><%=profile.firstname%></h4>
					<h4><%=profile.lastname%></h4>
				</div>
			</div>
			<div class="profile__display--left-column--bio">
				<p><span>Bio:</span><%=profile.bio%></p>
			</div>
			<div class="profile__display--left-column--social">
				<ul>
					<li>
						<a href="<%=profile.social.facebook%>" target="_blank"
							><i class="fa fa-facebook-official"></i
						></a>
					</li>
					<li>
						<a href="<%=profile.social.twitter%>" target="_blank"><i class="fa fa-twitter-square"></i></a>
					</li>
					<li>
						<a href="<%=profile.social.instagram%>" target="_blank"><i class="fa fa-instagram"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="profile__display--right-column">
			<div class="profile__display--right-column--user-data">
				<h2>Posts:</h2>
				<% profile.posts.map(post => { %> <% if(post.title){ %>
				<div class="profile__display--right-column--user-data--bubble">
					<a href="/api/days/<%=post.id%>">
						<%=post.title.length > 20 ? post.title.substr(0,20)+ '...' : post.title %></a
					>
				</div>
				<% } %> <% }) %>
			</div>
			<div class="profile__display--right-column--user-data">
				<h2>To-Dos:</h2>
				<% profile.todos.map(todo => { %>
				<div class="profile__display--right-column--user-data--bubble">
					<a href="/api/todos/<%=user._id%>/todos"
						><%=todo.title.length > 20 ? todo.title.substr(0,20)+ '...' : todo.title %></a
					>
				</div>
				<% }) %>
			</div>
			<div class="profile__display--right-column--user-data">
				<h2>Goals:</h2>
				<% profile.goals.map(goal => { %>
				<div class="profile__display--right-column--user-data--bubble">
					<a href="/api/goals/<%=post._id%>/goals"
						><%=goal.title.length > 20 ? goal.title.substr(0,20)+ '...' : goal.title %></a
					>
				</div>
				<% }) %>
			</div>
		</div>
	</div>
	<div class="profile__container--button-row">
		<a href="/profile/<%=user._id%>/editprofile">
			<button class="profile__container--button-row--edit"><i class="fa fa-edit"></i>Edit Profile</button>
		</a>
		<a href="/profile"
			><button class="profile__container--button-row--back"><i class="fa fa-angle-left"></i> Dashboard</button></a
		>
	</div>
</div>

<% include partials/footer %>
